<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Molestiae debitis eveniet tempore, quisquam earum nisi autem,
             possimus, velit distinctio in totam? Omnis eum dolor aperiam, 
             minima eaque autem doloremque rerum?</p>
    </div>
</div>