<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Beatae reprehenderit doloremque, doloribus aliquid eum 
        reiciendis quam cum aliquam explicabo, officia quia rerum, 
        accusamus ad non autem blanditiis sapiente expedita veritatis!</p>
    <a href="https://github.com/luis9851/proyecto_BD/tree/master" class="btn btn-primary btn-lg">BETO PROJECT</a>
</div>