<div class="jumbotron mt-4">
    <h1 class="display-4">Index</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore soluta a, dolores veniam maxime fugiat ex facere dolor unde neque atque aut consequuntur mollitia ab, ipsa quod dolore amet ducimus!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dignissimos ducimus pariatur qui odit sit architecto? Quis, magni quae. Quos cum quas hic aperiam rerum neque id necessitatibus eligendi asperiores!</p>
    <a href="https://www.google.com.mx/?hl=es-419" class="btn btn-primary btn-lg">google</a>
    
</div>